.title {
	font-size: 40px;
	font-family: 'Style Script', cursive;
}
.details {
	text-align: center;
}
.image {
	border-radius: 20px;
	border-style: none ;
}
.button{
  padding: 20px;
  background-color: #ffccff;
  color:blue;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 12px;
  font-family:'Roboto',sans-serif;
}

.description {
	font-size: 20px;
	text-align: justify;
	/*font-weight: bold;*/
}
.price,
.season,
.makingTime,
.holdingTime {
	font-size: 25px;
}

@media only screen and (min-width: 200px) and (max-width: 450px) {
	.price,
	.season,
	.makingTime,
	.holdingTime {
		font-size: 15px;
	}
}

@media only screen and (min-width: 450px) and (max-width: 600px) {
	.price,
	.season,
	.makingTime,
	.holdingTime {
		font-size: 18px;
	}
}
