* {
	box-sizing: border-box;
}

.card {
	background-color: white;
	border-radius: 6px;
	box-shadow: 2px 3px 4px rgba(255, 97, 255, 0.1);
	transition: transform 0.5s;
}

.card:hover {
	transform: scale(1.02);
}
