* {
	box-sizing: border-box;
}

.card {
	background-color: white;
	border-radius: 6px;
	box-shadow: 1px 2px 3px rgba(247, 144, 233, 0.1);
	transition: transform 0.2s;
}

.card:hover {
	transform: rotate(2deg);
}
